<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-10 col-md-offset-1 form-area">
          <h3>Edit Menu</h3>
            <%= simple_form_for(@menu) do |f| %>
            <%= f.error_notification %>
            <!-- Main content -->
            <div class="col-md-12  form-area">
              <p>Publish?</p>
              <%= f.input :publish, label: "Ticked box = Published" %>
              <%= f.input :title %>
              <%= f.input :subtitle %>
            </div>
            <!-- Button -->
            <div class="col-md-12 row ">
              <%= f.button :submit, "Update" %>
            </div>
            <% end %>

    </div>
  </div>
</section>
