



      <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>


        <!-- Use as cover? -->
        <div class="col-md-10 col-md-offset-1 form-area">
          <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> Use Event on Cover page?</h3>
          <p>If you want to use this Event on the cover page, tick the "Use as Cover?" box and indicated the start and end dates for diplaying the Event.</p>
          <p>Outside of selected dates, the default Cover and Texts will automatically be shown.</p>
          <p>Note: NOT shown if the event has not been "Published" (see below).</p>
            <p><%= f.input :cover, label: 'Use as cover?' %></p>
            <p><%= f.input :start_display, label: 'Display as cover from date:' %></p>
            <p><%= f.input :end_display, label: 'End Date:' %></p>
          </div>

          <!-- Indicate Published status -->

          <div class="col-md-10 col-md-offset-1 form-area">
            <h3><i class="fa fa-check" aria-hidden="true"></i> Publishing Status</h3>
            <p>Choices:</p>
            <ul>
              <li>Not Published: Event is not shown on live website (default setting)</li>
              <li>Published: Visible on live website, and on the Cover page if the "Use as Cover?" option has been selected.</li>
              <li>Archive: Event is moved to the Events Archive and is not visible on live website</li>
            </ul>
              <%= f.input_field :publish, :collection => ['Not Published','Published','Archive'], default: "Not Published" %>
          </div>

          <!-- Event Position -->
          <div class="col-md-10 col-md-offset-1 form-area">
              <h3><i class="fa fa-arrows-v" aria-hidden="true"></i> Change Event Position?</h3>
              <p>New Event Cards are automatically added to the BOTTOM of the Events section. Use the drop-down below to change event position</p>
              <%= f.input_field :position, :collection => (1..@count).to_a %>
            </div>

            <!-- Main content area -->
            <div class="col-md-10 col-md-offset-1 form-area">
              <h3><i class="fa fa-list-alt" aria-hidden="true"></i> Main Content of Event "Card"</h3>
              <p>Some of the data below is shared between the main "Event Card" in the events area, the "Add to calendar" widget and the Cover Page (if "Use as Cover?" has been chosen). The display locations are indicated for each input field.</p>
              <%= f.input :title, label: "Title: Artist or Event name (displayed on Event Card, Calendar and Cover Page)", placeholder: "e.g.: The Dodgy Dodgers" %>


             <%= f.input :event_type, label: "Event Type: Very short description (displayed ONLY on Cover page, between Date and Title)", placeholder: "Short description such as: 'In Concert' or 'X-mas Party?" %>

              <%= f.input :subtitle, label: "Subtitle: Short description/slogan (displayed on Events Card and the Calendar)", placeholder: "e.g.: Raw and resfreshing new age techno-tango from Toulouse!" %>
              <%= f.input :body, label: "Main Text Area (displayed only on Events Card only)" %>



              <!-- HTML Tag descriptions - Main content Sub area -->
              <div class="col-xs-12 form-area-gray">
                <h4>Common HTML Tags</h4>
                <p>Below are some of the most common HTML tags that you can use in the Main Text area above. The effects will be visible in live and CMS instances of the event, but not here on the edit page.</p>
                <p><strong>Bold:</strong> &#60;strong&#62;Your text.&#60;/strong&#62;. Results in =&#62; <strong>Your text.</strong></p>
                <p><strong>Italic:</strong> &#60;em&#62;Your text.&#60;/em&#62;. Results in =&#62; <em>Your text.</em></p>
                <p><strong>Underline:</strong> &#60;ins&#62;Your text.&#60;/ins&#62;. Results in =&#62; <ins>Your text.</ins></p>
                <p><strong>Link (e.g, to Google):</strong> &#60;a href="http://google.com"&#62;Google Link&#60;/a&#62;. Results in =&#62; <a href="http://www.google.com">Google Link</a></p>
              </div>

              <!-- Icons - Main content Sub area -->
              <div class="col-xs-12 form-area-gray">
                <div class="col-xs-2">
                   <%= f.input :event_icon, :collection => ['music', 'comedy', 'quiz', 'party', 'football', 'poetry', 'talk', 'magic' ], label: "Icons" %>
                </div>
                <div class="col-md-12">
                  <p>The icon is displayed on the "Event Card", next to the Title. <br>The Icons available are:</p>
                </div>
                <div class="col-md-12">
                  <p>Music: <i class="fa fa-music" aria-hidden="true"></i> |
                    Comedy: <i class="fa fa-smile-o" aria-hidden="true"></i> |
                    Quiz: <i class="fa fa-question-circle" aria-hidden="true"></i> |
                    Party: <i class="fa fa-glass" aria-hidden="true"></i> |
                    Football: <i class="fa fa-futbol-o" aria-hidden="true"></i> |
                    Poetry: <i class="fa fa-leaf" aria-hidden="true"></i> |
                    Talk: <i class="fa fa-commenting-o" aria-hidden="true"></i> |
                    Magic: <i class="fa fa-magic" aria-hidden="true"></i>
                  </p>
                </div>
              </div>

          </div>
          <!-- End: Main content area -->


          <!-- Add to Calendar data -->
          <div class="col-md-10 col-md-offset-1 form-area">
            <h3><i class="fa fa-calendar-o" aria-hidden="true"></i> Event Date/Calendar Info</h3>
            <p>Note: Data will be used for the Cover, the Event Card, and the Calendar widget.</p>
            <div class="col-md-2 row">
              <%= f.input :weekday, :collection => ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %>
            </div>
            <div class="col-md-12 row">
              <p><%= f.input :start_date, label: 'Start Date:' %></p>
              <p><%= f.input :end_date, label: 'End Date:' %></p>
            </div>
            <div class="col-md-3 row">
              <%= f.input :start, placeholder: 'Use format: 00:00' %>
              <%= f.input :end, placeholder: 'Use format: 00:00' %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 form-area">
            <h3><i class="fa fa-image" aria-hidden="true"></i> Image Upload</h3>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="col-md-10 col-md-offset-1">
              <%= f.button :submit %>
            <% end %>
          </div>












