<!-- Intro section start -->



  <!-- Cover Images Start => Incl. <Section> tag! -->
  <!-- Checks if any event covers exist and if it has been set to Publish  -->
  <% if @event_cover != nil %>
     <%= render "events/sections/cover_image1" %>
     <% else %>
     <%= render "events/sections/cover_image2" %>
    <% end %>
  <!-- Cover Images End -->

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-md-offset-2">

            <div class="hello wow ">
               <h2><a href="#coffee">Café & Bar</a></h2>
              <h2><a href="#events">Concerts</a></h2>
              <h2><a href="#events">Comedy</a></h2>
              <h2><a href="#events">Quizzes</a></h2>
              <h3><a href="#contact"><i class="fa fa-clock-o"> </i><span> <%= opening_times %></span></a></h3>
            </div>



          </div>

          <!-- Cover Info Start -->
          <% if @event_cover == nil %>
           <%= render "events/sections/cover_info2" %>
           <% else %>
           <%= render "events/sections/cover_info1" %>
          <% end %>
          <!-- End of Cover Info -->

          <div class="col-md-8 col-md-offset-2"><hr></div>


          <div class="col-md-12">
            <a href="#profile">
             <!--  <div class="mouse-icon">
                <div class="wheel"></div>
              </div> -->
            </a>


          </div>


        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Intro section end -->













    <!-- Profile contact callout section -->

    <section id="profile-contact">

      <div class="container">

        <div class="row">

          <div class="col-sm-4 centered">
            <div class="profile-item">
              <i class="fa fa-envelope-o"></i>
              <h5><a href="#">moien@konradcafe.net</a></h5>
            </div>
          </div>

          <div class="col-sm-4  ">
            <div class="profile-item centered" >
              <i class="fa fa-phone"></i>
              <h5>(+352) 26 20 18 94</h5>
            </div>
          </div>

          <div class="col-sm-4  centered">
            <div class="profile-item">
              <i class="fa fa-map-marker"></i>
              <h5>7 rue du Nord, Luxembourg</h5>
            </div>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>









    <!-- Eat & Drink section start -->
    <%= render "events/sections/eat_drink" %>
    <!-- Eat and drink section end -->

    <!-- Opening Hours section start -->

    <!-- Opening Hours section end -->

    <% if @curry.publish == true %>
    <!-- Thai Curry section start -->
    <%= render "events/sections/curry" %>
    <!-- Thai Curry section end -->
    <% end %>

    <!-- Parallax 1 section start -->
     <%= render "events/sections/parallax01" %>
    <!-- Parallax 1  section end -->


    <!-- Events section start -->
     <%= render "events/sections/events" %>
    <!-- Events section end -->



    <!-- Parallax 2 section start -->
    <%= render "events/sections/parallax02" %>
    <!-- Parallax 2  section end -->











    <!-- Contact section start -->

    <section id="contact" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline wow ">
            <h2>Get in Touch</h2>
            <p>Drop us a line or give us a ring. We would love to hear from you.</p>
          </div>

          <div class="col-md-6 wow ">



            <ul class="icon-list">
              <li><i class="fa fa-fw fa-map-marker"></i>7 rue du Nord, Luxembourg, Luxembourg</li>
              <li><i class="fa fa-fw fa-phone"></i>+(352) 26 20 18 94</li>
              <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">moien@konradcafe.net</a></li>
              <li><i class="fa fa-fw fa-globe"></i><a href="">http://www.konradcafe.net</a></li>
            </ul>

          </div>

          <!-- Opening hours start -->
          <div class="col-md-6 ">
            <h4>Opening Hours:</h4>
              <div class="col-xs-2 row">
                <p>Mon: </p>
                <p>Tue: </p>
                <p>Wed: </p>
                <p>Thu: </p>
              </div>

              <div class="col-xs-4 ">
                <p>11:00-24:00</p>
                <p>11:00-24:00</p>
                <p>11:00-24:00</p>
                <p>11:00-24:00</p>
              </div>

              <div class="col-xs-2 row">
                <p>Fri: </p>
                <p>Sat: </p>
                <p>Sun: </p>
              </div>

              <div class="col-xs-4 ">
                <p>11:00-01:00</p>
                <p>11:00-01:00</p>
                <p>11:00-24:00</p>
              </div>


          </div>
          <!-- Opening hours End -->

          <!-- Contact form start-->
          <!-- contact form end -->

        </div><!-- .row -->


        <div class="col-md-12">

            <div id="map"></div>
            </div>


      </div><!-- .container -->

    </section>

    <!-- Contact section end -->



