<!-- Intro section start -->



  <!-- Cover Images Start => Incl. <Section> tag! -->
  <!-- Checks if any event covers exist and if it has been set to Publish  -->
  <% if @event_cover != nil %>
     <%= render "events/sections/cover_image1" %>
     <% else %>
     <%= render "events/sections/cover_image2" %>
    <% end %>
  <!-- Cover Images End -->

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-md-offset-2">

            <div class="hello hidden-sm hidden-xs">
               <h2><a href="#coffee">Café & Bar</a></h2>
              <h2><a href="#events">Concerts</a></h2>
              <h2><a href="#events">Comedy</a></h2>
              <h2><a href="#events">Quizzes</a></h2>
            </div>

             <div class="hello hidden-md hidden-lg hidden-xl">
               <h3>Café & Bar, Concerts, Comedy and Quizzes. </h3>

            </div>

            <div class="open">
              <h3><a href="#contact"><i class="fa fa-clock-o"> </i><span> <%= opening_times %></span></a></h3>
            </div>



          </div>

          <!-- Cover Info Start -->
          <% if @event_cover == nil %>
           <%= render "events/sections/cover_info2" %>
           <% else %>
           <%= render "events/sections/cover_info1" %>
          <% end %>
          <!-- End of Cover Info -->
          <!-- Cover info underline - hidden for mobile -->
          <div class="col-md-8 col-md-offset-2 open"><hr></div>


          <div class="col-md-12">
            <a href="#profile">
             <!--  <div class="mouse-icon">
                <div class="wheel"></div>
              </div> -->
            </a>


          </div>


        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Intro section end -->













    <!-- Profile contact callout section -->

    <section id="profile-contact">

      <div class="container">

        <div class="row">

          <div class="col-sm-4 centered">
            <div class="profile-item">
              <i class="fa fa-envelope-o"></i>
              <h5><a href="mailto:konradcafelux@gmail.com">konradcafelux@gmail.com</a></h5>
            </div>
          </div>

          <div class="col-sm-4  ">
            <div class="profile-item centered" >
              <i class="fa fa-phone"></i>
              <h5>(+352) 26 20 18 94</h5>
            </div>
          </div>

          <div class="col-sm-4  centered">
            <div class="profile-item">
              <i class="fa fa-map-marker"></i>
              <h5><a  data-toggle="modal" data-target=".bs-example-modal-lg">7 rue du Nord, Luxembourg</a></h5>
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <!-- Google-map modal -->
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1064.5894332876942!2d6.132064873222504!3d49.61213000094363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2fa8f6b4a7d8be74!2sKonrad+Caf%C3%A9+%26+Bar!5e0!3m2!1sen!2sus!4v1500331335388" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>









    <!-- Eat & Drink section start -->
    <%= render "events/sections/eat_drink" %>
    <!-- Eat and drink section end -->

    <!-- Opening Hours section start -->

    <!-- Opening Hours section end -->

    <% if @curry.publish == true %>
    <!-- Thai Curry section start -->
    <%= render "events/sections/curry" %>
    <!-- Thai Curry section end -->
    <% end %>

    <!-- Parallax 1 section start -->
     <%= render "events/sections/parallax01" %>
    <!-- Parallax 1  section end -->


    <!-- Events section start -->
     <%= render "events/sections/events2" %>
    <!-- Events section end -->



    <!-- Parallax 2 section start -->
    <%= render "events/sections/parallax02" %>
    <!-- Parallax 2  section end -->











    <!-- Contact section start -->



    <section id="contact" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-6 headline wow ">
            <h2>Get in Touch</h2>
            <p>Drop us a line or give us a ring. We would love to hear from you.</p>

            <ul class="icon-list">
              <li><i class="fa fa-fw fa-map-marker"></i><a  data-toggle="modal" data-target=".bs-example-modal-lg">7 rue du Nord, Luxembourg</a></li>
              <li><i class="fa fa-fw fa-phone"></i>+(352) 26 20 18 94</li>
              <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">konradcafelux@gmail.com</a></li>
              <li><i class="fa fa-fw fa-globe"></i><a href="">http://www.konrad.lu</a></li>
            </ul>

          </div>

          <!-- Opening hours start -->
          <%= render "events/sections/opening_hours" %>
          <!-- Opening hours End -->

          <!-- Contact form start-->
          <!-- contact form end -->

        </div><!-- .row -->


      </div><!-- .container -->

    </section>

    <!-- Contact section end -->



