<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p><%= link_to "<< Back to Events", events_admin_path %></p>
          </div>
          <div class="col-md-8">

            <h3><%=  @event.title %></h3>
             <h4><%= @event.weekday %> <%= @event.day %>.<%= @event.month %>.<%= @event.year %>, <%= @event.start %> - <%= @event.end %></h4>
            <h4><%=  @event.subtitle %></h4>

            <p><%=  @event.body.html_safe %></p>


          </div>
        </div><!-- row -->
      </div><!-- container -->
</section>