<div class="col-md-4 ">
    <div class="infobox wow bg-shade-medium">
      <h3></i><%= @event_cover.start_date.strftime("%a, %d %b %Y") %>, <%= @event_cover.start %>-<%= @event_cover.end%></h3>
      <h3><%= @event_cover.event_type %></h3>
      <h2><%= @event_cover.title %></h2>
      <!-- Info Button -->
      <h3> <a href="#events" class="btn  btn-custom-3 callout-btn"><i class="fa fa-info-circle icon-before"></i> Info</a>
      </h3>

    </div>
  </div>