 <section id="coffee" class="section">

      <div class="container ">

        <div class="row">

          <div class="col-md-12 headline wow centered">
            <h2>Header</h2>
            <p>subheader</p>
          </div>

          <!--  Column 1 Start -->
          <div class="col-md-6">
            <!-- Section 1-->
            <div class="col-md-12 line-text-top">
              <% @eats.each do |item| %>
                <% if item.position <= 5 %>
                <div class="dotted-underlinez">
                  <h4>
                    <i class="<%= menu_icon_helper(item.menu_icon) %>"aria-hidden='true'></i>
                    <%= item.title %>
                  </h4>
                  <p><%= simple_format(item.body.html_safe) %></p>
               </div>
                <% end %>
              <% end %>
            </div> <!-- End section 1-->
          </div> <!-- End Drinks Column-->
          <!-- End Column 1  -->


          <!-- Column 2 Start -->
          <div class="col-md-6">
            <!-- Section 2 -->
            <div class="col-md-12 line-text-top">
              <% @eats.each do |item| %>
                <% if item.position >= 6  %>
                <div class="dotted-underlinez">
                  <h4>
                    <i class="<%= menu_icon_helper(item.menu_icon) %>"aria-hidden='true'></i>
                    <%= item.title %>
                  </h4>
                  <p><%= simple_format(item.body.html_safe) %></p>
               </div>
                <% end %>
              <% end %>
               <% if @menu_special.publish == true %>
              <!-- Today's Specials section start -->
              <%= render "events/sections/todays_specials" %>
              <!-- Today's Specials section end -->
              <% end %>
            </div> <!-- End section 2 -->
          </div>

          <!-- Colum 2 End -->

          <div class="container">
            <div class="col-md-12 line-text-bottom "></div>
          </div>



        </div><!-- .row -->

      </div><!-- .container -->



    </section>



