  <div class="col-md-6">
    <h4><i class="fa fa-clock-o"></i> Opening Hours:</h4>

      <div class="col-xs-2 row">
        <ul class="nodeco-list">
          <li>Mon: </li>
          <li>Tue: </li>
          <li>Wed: </li>
          <li>Thu: </li>
        </ul>
      </div>

      <div class="col-xs-4 ">
        <ul class="nodeco-list">
          <li><%='%.02f' % @opening_hours.find(1).open_at %> - <%='%.02f' % @opening_hours.find(1).open_until %></li>
          <li><%='%.02f' % @opening_hours.find(2).open_at %> - <%='%.02f' % @opening_hours.find(2).open_until %></li>
          <li><%='%.02f' % @opening_hours.find(3).open_at %> - <%='%.02f' % @opening_hours.find(3).open_until %></li>
          <li><%='%.02f' % @opening_hours.find(4).open_at %> - <%='%.02f' % @opening_hours.find(4).open_until %></li>
       </ul>
      </div>

      <div class="col-xs-2 row">
        <ul class="nodeco-list">
          <li>Fri: </li>
          <li>Sat: </li>
          <li>Sun: </li>
        </ul>
      </div>


      <div class="col-xs-4 ">
        <ul class="nodeco-list">
          <li><%='%.02f' % @opening_hours.find(5).open_at %> - <%='%.02f' % @opening_hours.find(5).open_until %></li>
          <li><%='%.02f' % @opening_hours.find(6).open_at %> - <%='%.02f' % @opening_hours.find(6).open_until %></li>
          <li><%='%.02f' % @opening_hours.find(7).open_at %> - <%='%.02f' % @opening_hours.find(7).open_until %></li>
       </ul>
      </div>


  </div>