<!DOCTYPE html>
<html>
<head>
  <title>Konradcafe CMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

</head>
<body>

  <div class="wrapper">  <!-- Wrapper Start-->

    <%= render "shared/cms_navbar" %>

    <%= render 'shared/flashes' %>







  <%= yield %>



  <!-- Footer start -->

    <footer id="footer">

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p class="copy">
              ©  <%= Time.now.year %> Konrad Cafe & Bar, All Rights Reserved. Konrad CMS
            </p>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </footer>

    <!-- Footer end -->

</div><!--  .Wrapper end -->


</body>
</html>
